main {
    margin-top: 5vw !important;
}

.login-title {
    color: #2d6fff;
    font-family: var(--font-roboto);
    font-size: 2.5vw;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
}

.login-subtitle {
    color: #666;
    font-family: var(--font-poppins);
    font-size: 1.1vw;
    margin: 0;
    line-height: 1.4;
}

.forgot-link {
    color: #2d6fff;
    font-family: var(--font-poppins);
    font-size: 1vw;
}

.register-text {
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 1vw;
    color: #666;
    margin: 0;

    a {
        color: #2d6fff;
        font-weight: bold;
    }
}

@media (max-width: 600px) {
    main {
        margin-top: 30vw !important;
    } 
    
    .login-title {
        font-size: 8vw;
    }

    .login-subtitle, 
    .forgot-link, 
    .register-text {
        font-size: 4vw;
    }
}