.page-title {
    color: #2d6fff;
    text-align: center;
    font-size: calc(2.2vw * var(--scale-factor));
    text-transform: uppercase;
}

.form-container {
    max-width: calc(45vw * var(--scale-factor)); 
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
}

.form-label {
    display: block;
    margin-bottom: calc(0.5vw * var(--scale-factor));
    font-size: calc(1.2vw * var(--scale-factor));
    font-weight: bold;
    color: #000;
}

algol-button:focus {
    --accent-B: #2d6fff;
}
.btn-filter {
    border: 1px solid #ccc !important;
    font-size: calc(0.9vw * var(--scale-factor)) !important;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 7vw;
        line-height: 1.2;
    }

    .form-container {
        max-width: 100%; 
        padding: 5vw !important;
    }

    .form-label {
        font-size: 4.5vw;
    }

    .btn-filter {
        font-size: 3.5vw !important;
    }
}