.footer-cegesp {
    width: 100%;
    background-color: var(--color-dark-blue);
    margin-top: calc(2vw * var(--scale-factor));
}

.footer-cegesp p {
    margin: 0 !important;
    color: var(--color-white-default);
    font-family: var(--font-poppins);
    line-height: 1.4;
}

.footer-icon {
    width: calc(3vw * var(--scale-factor));
    height: calc(3vw * var(--scale-factor));
    margin: 30px; 
}

.footer-divider {
    width: 100%;
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.copyright-text {
    font-size: calc(0.85vw * var(--scale-factor));
}

@media (max-width: 600px) {
    .footer-cegesp p {
        font-size: 3.5vw;
    }
    .copyright-text {
        font-size: 2.8vw;
    }
}