<algol-power-menu
        logo="imgs/logo-cegesp-desktop.png"
    logoalt="CEGESP"
    logolink="/pages/index.html"
    logowidth="91"
    logoheight="100"
    logosize="3.3vw"
    logosizebreak="7vw"
>
   <li><a href="/pages/objetivo/objetivo.html">OBJETIVO</a></li>
    <li><a href="/pages/equipe/equipe.html">EQUIPE</a></li>
    
    <li><a href="/pages/infodados/infodados.html">INFO DADOS</a></li>
    <li><a href="/pages/contato/contato.html">CONTATO</a></li>
    <li>
       <a href="#wordpress login page">
            <algol-button color="#007bff" textcolor="white">LOGIN</algol-button>
        </a>
    </li>
</algol-power-menu>